/* Estilos para realizar reset */
ul {
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
}
/* Estilos para el bloque del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #59626b;
    color: #f4f5f7;
    padding: 10px;
    z-index: 0;
}

/* aplicar stylos con clase */
.logo {
    width: 50px
}

.title {
    font-size: 30px;
    font-weight: bold;
}

/* header > img {
    width: 200px
} */

.menu-btn {
    display: block;
    cursor: pointer;
}

.menu-btn span {
    display: block;
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #ffffff;
}
/* FIN Estilos para el bloque del header */

/* Estilos para el aside */
aside {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    padding: 20px;
    z-index: 1;
    background-color: #59626b;
    color: #ffffff;
    /* transicion a que propiedad, cuanto se demora, y que animacion */
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
}

/* clase para cuando este activo */
aside.active{
    left: 0;
}

nav ul {
    padding: 0;
    margin: 20px;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li > a {
    color: floralwhite;
    text-decoration: none;
}

/* cuando pase por encima muestre una linea
pseudoclases */
nav ul li > a:hover{
    text-decoration: underline;
}

footer p {
    font-weight: 300;
}